@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gta";
    src: url("./fonts/American_TextC.ttf");
}

h1,
h2,
h3 {
    @apply text-center py-4 tracking-widest;
    font-family: "Gta";
    /*  */
}

h1 {
    @apply text-2xl md:text-4xl xl:text-7xl;
}

h2 {
    @apply md:text-2xl xl:text-6xl;
}

h3 {
    @apply xl:text-5xl;
}

p {
    @apply text-lg sm:text-xl md:text-3xl lg:text-4xl xl:text-5xl py-4;
}

.outer-container {
    @apply flex flex-col flex-grow md:flex-row;
}

* {
    overflow-x: hidden;
    @apply overflow-x-hidden
}

body * {
    @apply overflow-y-hidden
}

.epigraph {
    font-family: "Gta";
    @apply md:text-6xl text-xl md:w-1/2 flex-col md:flex-row text-center;
}

.outer-container>div {
    @apply text-justify px-5 w-auto max-w-7xl text-5xl;
}

nav a {
    @apply no-underline;
}

a {
    @apply underline hover:opacity-90 hover:no-underline;
}

em {
    @apply italic opacity-70;
}



cite {
    @apply flex text-right justify-end px-5 py-10;
}

h3 {
    @apply md:text-4xl hover:underline py-2;
}

nav {
    @apply flex flex-col flex-grow;
}

nav>ul {
    @apply flex flex-col flex-grow justify-evenly items-center;
}

nav>ul>li {
    @apply flex md:text-3xl hover:underline text-center;
}

/* Toast */
.toast-container {
    @apply min-h-screen w-full fixed flex flex-col items-center justify-center p-2 md:p-10 z-50 disabled:hidden;
}

.toast {
    @apply sticky rounded-lg bg-gray-200 text-gray-900 w-full h-full p-2 md:p-10 md:px-32 border-blue-600 border-4 drop-shadow-sm shadow-blue-600;
}

.toast>h4 {
    @apply m-4 text-xl md:text-3xl;
}

.toast>p {
    @apply m-4 text-sm md:text-xl;
}

.toast button {
    @apply m-4 p-4 rounded-md focus:ring-4 ring-blue-300 border-2 font-semibold;
}

.toast button.primary {
    @apply text-gray-100 bg-blue-500 hover:bg-blue-600 focus:bg-blue-600;
}

.toast button.flat {
    @apply text-gray-500 focus:bg-gray-300 hover:bg-gray-300;
}
